@import "variables.scss";

.head {
  padding: 8rem 0;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  #heading {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family: 'Rajdhani', sans-serif !important;
  }
}

.container {
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}

.section-heading {
    text-align: center;
    padding: 4rem 0;
}

.map {
  padding-bottom: 2rem;
}

.countries {
  padding-bottom: 2rem;
  background-color: rgb(26, 224, 231);
}

.territories {
  
  padding-bottom: 2rem;

}

.row {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;

    .col-md-2,
    .col-md-3,
    .col-md-3 {
      margin: 0 auto;
    }
}

h2 {
  font-size: 1.5rem;
}

.card {
  min-height: 100%;
}

.flag {
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: $radius;
  height: $radius;
  border: 1px solid black;
}

footer {
  position: static;
  padding: .5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(63, 199, 93);
  text-align: center;
}